section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

// app-actualite .mat-card-content{
//    max-height: 200px;
//   overflow: hidden;
// }

.float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
