@media (min-width: 768px) {
  :host(.wide) mat-card {
    width: 600px;
  }
}

mat-card {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  margin: 10px;
  width: 360px;
}

mat-card:hover {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

mat-card-title {
  margin-bottom: 0;
}

mat-card-title span {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

mat-card-subtitle.contact-info {
  display: flex;
  align-items: center;
  height: 2rem;
}

.contact-info a:hover {
  text-decoration: underline;
}

.buttons-info {
  display: flex;
  justify-content: flex-end;
}

.buttons-info [mat-button] {
  min-width: 0px;
  padding: 2px;
  height: 40px;
  margin-left: 0.5rem;
}

mat-icon {
  color: rgba(0, 0, 0, 0.54);
  margin: 4px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

mat-card-actions button[mat-raised-button] {
  margin: 5px;
}

a.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 188px;
}

@media (max-width: 600px) {
  a.truncate {
    width: 170px;
  }
}

@media (max-width: 768px) {
  a.truncate {
    width: 190px;
  }
}

.mat-whiteframe-2dp {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

img {
  flex: 1;
  border-radius: 50%;
  margin: 0.5rem;
  width: 0;
  height: auto;
}
