<mat-card class="mat-whiteframe-2dp" *ngIf="actualite">
    <mat-card-title-group>
        <mat-card-title>
            <a [routerLink]="['/menu/news', actualite.id]" routerLinkActive="active">
                <span>{{ actualite.titre }}</span>
            </a>
        </mat-card-title>
        <mat-card-subtitle>
            <div>{{ actualite.date.seconds * 1000 | date:'MM-dd-yyyy à HH:mm' }}</div>
        </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <div [innerHTML]="actualite.contenu"></div>
    </mat-card-content>
</mat-card>
